[user]
	name = Anne Haunyme
	email = anne.haunyme@public.mail

[includeIf "gitdir:~/projets/work/"]
	path = ~/.gitconfig.d/work
[includeIf "gitdir:~/projets/github/"]
	path = ~/.gitconfig.d/github
[includeIf "gitdir:~/projets/gitlab/"]
	path = ~/.gitconfig.d/gitlab

[include]
	path = ~/.gitconfig.d/config
	path = ~/.gitconfig.d/colors
	path = ~/.gitconfig.d/aliases
